doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/language-menu/language-menu
    include ../components/menu/menu
    include ../components/tabs/tabs
    include ../components/logo/logo
    include ../components/search/search
    include ../components/slider/slider
    include ../components/information/information
    include ../components/privileges/privileges
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.section.section_gray
            div.container
                div.row
                    div.col-sm-7.col-md-6
                        +language-menu()
                    div.col-sm-5.col-md-6
                        +menu()
        section.section.section_border-bottom_gray.section_padding-top
            div.container
                div.row
                    div.col-xs-12.visible-xs
                        +search()
                    div.col-sm-4
                        +logo()
                    div.col-sm-5
                        +tabs()
                    div.col-sm-3.hidden-xs
                        +search()
        
        section.section.section_padding
            div.container
                div.tab-content
                    .tab-pane.active#opportunities
                        +slider()
                    .tab-pane#information
                        +information()
                    .tab-pane#privileges
                        +privileges()
        .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src="%=static=%js/libraries/jquery/jquery.min.js")
        script(src="%=static=%js/libraries/bootstrap/bootstrap.js")
        script(src='%=static=%js/main%=hash=%%=min=%.js')