mixin privileges(data)
	p
		| div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem explicabo ut reiciendis impedit dolorem praesentium quae repudiandae, dolorum modi error fugiat necessitatibus, adipisci unde placeat nemo, voluptates soluta repellat consectetur!
	p
		| Iusto, saepe porro veritatis! Molestias enim in repudiandae laudantium illum sequi voluptatem. Deserunt veritatis praesentium, perspiciatis vero mollitia non in voluptatibus, minima quam dicta sint nemo. Quo soluta nostrum voluptas.
	p
		| Labore dolor iusto saepe perspiciatis nisi sapiente id maiores temporibus placeat, velit, magnam perferendis quae error voluptas soluta blanditiis quis, aperiam atque autem eius tempora vel praesentium deserunt animi! Dolor.
	p
		| Molestias libero distinctio earum! Et, tenetur illo suscipit soluta cumque, reprehenderit totam repudiandae explicabo cupiditate ipsum aspernatur laboriosam sunt, fugiat minus eaque nam distinctio sint alias possimus quae ad similique.