mixin information(data)
	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quos pariatur, at quisquam officiis rerum molestias distinctio, fugiat soluta. Laborum provident tempore eius. Perferendis porro, et at eaque laborum quos.