mixin tabs(data)
	ul.nav.nav-tabs
		li.nav-tabs__item.active
			| <a class="nav-tabs__link" href="#opportunities" data-toggle="tab">Возможности</a>
		li.nav-tabs__item
			| <a class="nav-tabs__link" href="#information" data-toggle="tab">Информация</a>
		li.nav-tabs__item
			| <a class="nav-tabs__link" href="#privileges" data-toggle="tab">Привилегии</a>